body {
    margin: 0;
    background-color: #999;
    padding: 0;
    font-family: Century Gothic;
}

header {

    height: 110vh;
    background-size: auto;
    background-position: auto;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul li a:hover {
    background-color: #fff;
    color: #fff;
}

ul li.active a {
    background-color: #fff;
    color: #999;
}

.logo img {
 4   float: left;
    width: 150px;
    height: auto;
}

.main {
    margin: auto;
}

.title {
    position: absolute;
    top: 33%;
    left: 20%;
    transform: translate(-50% -50%);
}

.title {
    color: #fff;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 72%;
    left: 37%;
    transform: translate(-50% -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: ease 0.6s;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.Sign-Up-form {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center;
}

.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

hr {
    margin-top: 20px;
    width: 80%;
}

.or {
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

.Log-In-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
